@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.App-warm{
    background-image: url("./assets/warm-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;

    
}

.App-cold{
    background-image: url("./assets/cold-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2),rgba(0, 0, 0, .75) );
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background-image: linear-gradient(to bottom , rgba(255, 255, 255, .5), rgba(0, 0, 0, .0));
}
.header img{
    position: absolute;
    left: 10px;
    top: 8px;
    width: 40px;
}
.search-box{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 50px;
    font-size: medium;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .75);
    
}

.search-bar:focus{
    font-size: large;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .55);
    background-color: rgba(255, 255, 255, 1);
}
.weather-continer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-box{ 
    padding: 30px 50px;
    background-color: rgba(159, 151, 165, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    border-radius: 10px;
}

.location{
    margin-top: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.time{
    /* margin-top: 5px; */
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.temp{
    margin-top: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}

.weather-type{
    margin-top: 10px;
}

.weather-box img{
    width: 100px;
}

.weather-details{
    padding: 20px 40px;
    min-width: 250px;
    background-color: rgba(159, 151, 165, 0.5);
    color: #fff;
    margin: 30px;
    border-radius: 10px;
}
img{
    width: 30px;
    margin-left: 5px;
}

.con1, .con2{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.humidity, .temp_max, .temp_min, .wind{
    display: flex;
    justify-content: center;
}